/* File: index.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'VT323', monospace; /* Default font is readable retro */
  background-color: #0f0e13; /* Void color */
  color: #e3d5ca; /* Parchment color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: none; /* Pixel art butuh ketajaman, bukan smoothing */
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* DILARANG SCROLL NATIVE */
  margin: 0;
  padding: 0;
  touch-action: manipulation; /* Mencegah zoom double tap di mobile */
  user-select: none; /* Biar teks ga ke-highlight biru-biru ga jelas */
}

/* Scrollbar custom buat konten internal (Chat/Inv) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1921; 
}
::-webkit-scrollbar-thumb {
  background: #4a3c31; 
  border: 1px solid #0f0e13;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4af37; 
}